<!DOCTYPE html>
<html>
	<head>
		<title>Adventure Land</title>
		<link href="https://fonts.googleapis.com/css?family=Farro|Satisfy&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700&display=swap" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
	</head>
	<body >
	<nav id="mainNavbar" class="navbar navbar-expand-md bg-dark mb-2">
		<a href="/" class="navbar-brand text-white">Adventure Land</a>
		<button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" arial-label="Toggle Navigation">
			<span class="navbar-toggler-icon"><i class=" fas fa-bars"></i></span>
		</button>
		<div class="collapse navbar-collapse text-center " id="navLinks">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"> <a href="#" class="nav-link text-white">Login</a></li>
				<li class="nav-item"> <a href="#" class="nav-link text-white">Sign up</a></li>
				<li class="nav-item"> <a href="#" class="nav-link text-white">Logout</a></li>
			</ul>			
		</div>
	</nav>

	
		<div class="container" >
			<div class="seco">
				<h2 class="text-center"> Add a Comment </h2>
				<form action = "/posts/<%=coa._id %>/comments" method="POST" style="width:40%; ">
						
							<div class="form-group">
								<input class = "form-control mb-2" type="text" placeholder="Comment" name="comms" required>
							</div>
							
							<button class="btn btn-lg btn-primary btn-block"> Submit </button>
						
				</form>
			</div>
		</div>
		<style>
			body{
			background: url('https://images.unsplash.com/photo-1497048502537-9e5719098e2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
			background-repeat:no-repeat;
				background-size: cover;
				
				background-attachment: fixed;
			background-position: center;

			}
			.seco{
	    margin-left: 5%;
	    margin-top:15%;

			}
			form{
				margin: auto;
			}
			
		</style>
<% include partials/footer %>